.nav-container {
  display: flex;
  justify-content: space-between;
  border-left: solid white 3px;
  border-right: solid white 3px;
  border-bottom: solid white 3px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 5vh;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
}

.nav-item:hover {
  scale: 1.3;
}

.odinbook-logo {
  font-family: 'Caveat', cursive;
  gap: 0.25rem;
}
