.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  height: 5vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: sticky;
  border: 3px solid white;
}

#text {
  color: white;
  text-align: center;
}

#logo-github {
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  scale: 0.8;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
