.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  height: 5vh;
  margin: 0 auto;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  max-width: 1000px;
}

#text {
  color: white;
  text-align: center;
}

#logo-github {
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  scale: 0.8;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
